</main>
<footer class="footer">
    <p></p>
    <p style="text-align: center;"><a href="privacy.html">Click here for Privacy Statement</a><br><br>&copy; 2024 Adopt-a-Pet. All rights reserved.</p>
</footer>
<script src="script.js"></script>
</body>
</html>