<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/rp_style.css">
    <script src="public/js/script.js" defer></script>
</head>
<body>
    <header class="page-header">
        <a href="/">
            <div class="container-header">
                <img src="public/images/logo-good.png" alt="Logo" class="page-logo">
                <h1 class="page-header-name">Adopt-A-Pet</h1>
            </div>
        </a>
        <div id="date" class="date">X</div>
    </header>
    <main>