<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/rp_style.css">
</head>
<body>
 
    <main>
        <div class="container">
            <nav class="navbar">
                <ul class="list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/browse.html">Browse Available Pets</a></li>
                    <li><a href="/find.html">Find A Paw</a></li>
                    <li><a href="/dog.html">Dog Care</a></li>
                    <li><a href="/cat.html">Cat Care</a></li>
                    <li><a href="/give.html">Have A Pet To Give Away?</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                    <li><a href="/privacy.html">Privacy Statement</a></li>
                    <li><a href="/account.html">Create an Account</a></li>
                    <li><a href="/login.html">Log In</a></li>
                </ul>
            </nav>
            <div class="main-content-browse">
                <ul class="cards">
                    <li>
                        <h2>Pinky</h2>
                        <div class="inner">
                            <img class="browse-pet" src="public/images/pinky.jpg"></img>
                            <p>
                                Pet: Cat
                                <br>Breed: Persian Short-Hair
                                <br>Age: 1
                                <br>Gender: Female
                                <br>Gets along with other dogs? Yes
                                <br>Gets along with other cats? Yes
                                <br>Suitable for families with small children? Yes
                            </p>
                            <button type="button">Interested</button>
                        </div>
                    </li>
                    <li>
                        <h2>Théo</h2>
                        <div class="inner">
                            <img class="browse-pet" src="public/images/theo.jpg"></img>
                            <p>
                                Pet: Dog
                                <br>Breed: Yorkshire
                                <br>Age: 15
                                <br>Gender: Male
                                <br>Gets along with other dogs? Yes
                                <br>Gets along with other cats? Yes
                                <br>Suitable for families with small children? Yes
                            </p>
                            <button type="button">Interested</button>
                        </div>
                    </li>
                    <li>
                        <h2>Turbo</h2>
                        <div class="inner">
                            <img class="browse-pet" src="public/images/dog1.jpg"></img>
                            <p>
                                Pet: Dog
                                <br>Breed: Beagle
                                <br>Age: 3
                                <br>Gender: Male
                                <br>Gets along with other dogs? No
                                <br>Gets along with other cats? Yes
                                <br>Suitable for families with small children? Yes
                            </p>
                            <button type="button">Interested</button>
                        </div>
                    </li>
                    <li>
                        <h2>Koncho</h2>
                        <div class="inner">
                            <img class="browse-pet" src="public/images/cat.jpg"></img>
                            <p>
                                Pet: Cat
                                <br>Breed: Beagle
                                <br>Age: 3
                                <br>Gender: Male
                                <br>Gets along with other dogs? No
                                <br>Gets along with other cats? Yes
                                <br>Suitable for families with small children? Yes
                            </p>
                            <button type="button">Interested</button>
                        </div>
                    </li>
                    <li>
                        <h2>Olive</h2>
                        <div class="inner">
                            <img class="browse-pet" src="public/images/dog2.jpg"></img>
                            <p>
                                Pet: Dog
                                <br>Breed: Labrador
                                <br>Age: 1
                                <br>Gender: Male
                                <br>Gets along with other dogs? Yes
                                <br>Gets along with other cats? Yes
                                <br>Suitable for families with small children? Yes
                            </p>
                            <button type="button">Interested</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>