<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/rp_style.css">
</head>
<body>

    <main>
        <div class="container">
            <nav class="navbar">
                <ul class="list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/browse.html">Browse Available Pets</a></li>
                    <li><a href="/find.html">Find A Paw</a></li>
                    <li><a href="/dog.html">Dog Care</a></li>
                    <li><a href="/cat.html">Cat Care</a></li>
                    <li><a href="/give.html">Have A Pet To Give Away?</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                    <li><a href="/privacy.html">Privacy Statement</a></li>
                    <li><a href="/account.html">Create an Account</a></li>
                    <li><a href="/login.html">Log In</a></li>
                </ul>
            </nav>
            <div class="main-content">
                <div class="section">
                    <p>
                        <strong>Name: </strong>Thomas Tang-Allard<br>
                        <strong>Student ID: </strong>40276476<br>
                        <strong>Email: </strong><a href="mailto:thomas.tangallard@gmail.com">thomas.tangallard@gmail.com</a><br>
                        <strong>Phone Number: </strong>514-898-4688<br>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <script src="script.js"></script>
</body>
</html>