<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/rp_style.css">
</head>
<body>

    <div class="container">
        <nav class="navbar">
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/browse.html">Browse Available Pets</a></li>
                <li><a href="/find.html">Find A Paw</a></li>
                <li><a href="/dog.html">Dog Care</a></li>
                <li><a href="/cat.html">Cat Care</a></li>
                <li><a href="/give.html">Have A Pet To Give Away?</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
                <li><a href="/privacy.html">Privacy Statement</a></li>
                <li><a href="/account.html">Create an Account</a></li>
                <li><a href="/login.html">Log In</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <section class="section">
                <h2>Login</h2>
                <div id="message"></div>
                <form id="login-form" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="Username" required><br><br>
                    
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                    
                    <div id="message"></div>

                    <input type="submit" value="Submit">
                </form>
                <p>Don't have an account? <a href="/account.html">Create one here</a>.</p>
            </section>
            <a href="/logout">Log Out</a>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>